[include tuning.cfg]

[stepper_z]
second_homing_speed: 5

[extruder]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__

[heater_bed]
control: __DELETED__
pid_kp: __DELETED__
pid_ki: __DELETED__
pid_kd: __DELETED__
